/* regole generali di pagina */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-color: lightgrey; /* da debuggare */
  /* background-image: url(); */
  background-size: cover;
}

/* contenitore globale */
.globale {
  /* background-color: black; */
  margin: auto;
  width: 50vw;
  height: 100vh;
}

/* contenitore dell'header e navbar */
.sezione-superiore {
  background-color: grey;
  width: 100%;
  height: 30%;
}

/* header */
.intestaz {
  background-image: url(../img/alberi.jpg);
  background-size: cover;
  /* width: 100%; */
  height: 80%;
  border: 10px solid white;
  position: relative;
}

.logo {
  height: 80px;
  width: 80px;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -35%);
  display: inline-block;
}

.payoff {
  color: white;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -90%);
  font-family: 'Montserrat';
}

/* blocco menù */
.navbar {
  background-color: grey;
  width: 100%;
  height: 20%;
}

/* corpo della pagina */
.corpo-pagina {
  /* background-color: white; */
  width: 100%;
  height: 60%;
}

.blocco-float {
  /* width: 100%; */
  height: 100%;
  margin-top: 1%;
}

.blocco-float:after {
  content:"";
  display:table;
  clear:both;
}

/* colonna sinistra */
.sinistra {
  background-color: white;
  width: 20%;
  /* height: 50%; */
  float: left;
}

.link {
  color: green;
  font-size: 13px;
}

/* colonna centrale */
.centrale {
  background-color: white;
  width: 50%;
  margin-left: 5%;
  margin-right: 5%;
  float: left;
}

.testocolonne {
  text-align: left;
  font-family: 'Roboto';
  padding: 4%;
}

/* elemento interno alla colonna destra */
.elemento {
  background-color: white;
  width: 100%;
  /* height: 25%; */
  margin-bottom: 4%;
  font-size: 14px;
  padding: 6%
}

/* colonna destra */
.destra {
  width: 20%;
  /* height: 70%; */
  float: left;
}

/* parte finale */
.chiusura {
  /* background-color: lightgrey; */
  width: 100%;
  height: 10%;
}

.social {
  background-color: purple;
  width: 100%;
  height: 50%;
  margin-bottom: 2%;
}

.footer {
  background-color: lightblue;
  width: 100%;
  height: 50%;
}
